body {background-color: #FFF5EE;
	}

h1 {font-family: helvetica;
	text-align: center;
	border: 2px dotted green;
	text-shadow: 1px .3px;
	text-decoration: overline;
}

h2 {font-style: italic;
	font-family: arial;
	margin: 0;
	text-align: center;
	font-kerning: auto;
	text-shadow: 1px .3px;
}

h3 {font-family: helvetica;
	background-color: lightgreen;
	color: blue;
	border: 10px solid black;
	margin-right: 81%;
	margin-top: 20px;
	margin-bottom: 20px;
	padding-left: 23px;
}

 p {font-family: helvetica;
	margin-top: 8px;
	margin-bottom: 100px;
	margin-left: 67px;
	margin-right: 56px;
}

img {height: 200px;
	width: 200px;
	border: 10px solid green;
}

div.ira {float: right;
		margin: 0 0 10px 10px;
}

div.sailboat {
}

div.center {text-align: center;
 }

ol {list-style: bengali;
	font-size: 17px;
	font-family: courier;
	border: 10px solid black;
	background-color: lightgreen;
	text-decoration: underline; 
}
